app-header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .content-wrapper{
    background-color: white;
  }