<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-3 col-md" *ngIf="role.substring(0,5)!=='ZONE_'">
            <div class="small-box bg-primary text-white">
                <div class="inner">
                    <h3 *ngIf="reportData">{{reportData.length>0?reportData.length:0}}<sup
                            style="font-size: 20px"></sup></h3>
                    <p>Total Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md" *ngIf="role.substring(0,5)!=='ZONE_'">
            <div class="small-box bg-success text-white">
                <div class="inner">
                    <h3>{{draftReport>0?draftReport:0}}</h3>
                    <p>Draft Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md" *ngIf="role.substring(0,5)!=='ZONE_'">

            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>{{reviewedReport>0?reviewedReport:0}}</h3>
                    <p>Reviewed Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="" class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{sentReport>0?sentReport:0}}</h3>
                    <p>Sent Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{acceptedReport>0?acceptedReport:0}}</h3>
                    <p>Accepted Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{rejectedReport>0?rejectedReport:0}}</h3>
                    <p>Rejected Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{pendingReport>0?pendingReport:0}}</h3>
                    <p>Pending Reports</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer" [routerLink]="['/dash/reports']">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>



</div>