<app-header></app-header>

<div Id="slide-carousel" class="carousel slide" data-bs-ride="carousel">

  <div class="bg-light bg-gradient">

    <marquee behavior="alternate" border="solid" [scrollAmount]="10" direction="left">
      <h1 class="fw-bald text-uppercase">Welcome To Our city where dreams take bright!!!</h1>
    </marquee>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <p class="display-5" style="font-weight:700;color:blue;">Get involved in your city. Your voice matters!</p>
        <h1 style="font-weight: bold;color:rgb(0, 4, 255);">Together, we can create a city where everyone feels
          welcome, valued, and supported.</h1>
      </div>
      <img src="assets/slider-image/City Administration2.jpg" alt="" class="d-block w-100" style="height: 27rem;">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <p class="display-5" style="font-weight:700;color:blue;">Support local businesses. Keep our city strong.</p>
        <h1 style="font-weight: bold;color:rgba(0, 255, 21, 0.76);">We're building a city of the future, where
          technology and human potential come together.</h1>
      </div>
      <img src="assets/slider-image/Ethiopian Graduated.jpg" alt="" class="d-block w-100" style="height: 27rem;">
    </div>
    <div class="carousel-item ">
      <div class="carousel-caption">
        <p class="display-5" style="fo nt-weight:700;color:blue;">Innovation is the key to our city's success</p>
        <h1 style="font-weight: bold;color:rgba(0, 255, 21, 0.76);">Our city is full of hope, opportunity, and potential
        </h1>
      </div>
      <img src="assets/slider-image/City Administration1.jpg" alt="" class="d-block w-100" style="height: 27rem;">
    </div>
    <div class="carousel-item">
      <img src="assets/slider-image/cement.jpg" alt="" class="d-block w-100" style="height: 27rem;">
      <div class="carousel-caption">
        <p class="display-5" style="font-weight:700;color:blue;">Our city is a place where dreams become reality.</p>
        <h1 style="font-weight: bold;color:rgba(0, 255, 21, 0.76);">Strong communities make strong cities.</h1>
      </div>
    </div>
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#slide-carousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#slide-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#slide-carousel" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#slide-carousel" data-bs-slide-to="3"></button>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#slide-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slide-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <div class="container">
    <h1 style="font-weight: bold;">Here are some most <strong>frequently asked questions (FAQs) </strong> with their
      description</h1>
  </div>
  <div class="container mt-2">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            How can I benefit from Bulga City Administration website?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>The Bulga City Administration website offers a range of valuable services and resources designed to
              benefit residents and stakeholders.
              Here are some ways you can benefit:</p>
            <p><strong>Stay Informed:</strong> Access the latest news, announcements, and updates about city
              initiatives, projects, and events to stay informed about what's happening in Bulga City.
            </p>
            <p>Job Opportunities: Utilize the job seeker registration feature to explore employment opportunities within
              Bulga City.
              Stay connected with the local job market and employment prospects.</p>
            <p> <strong>Engage in Civic Affairs:</strong> Participate in community engagement programs, public forums,
              and surveys to voice your opinions on city matters.
              Bulga City Administration values citizen input and involvement in shaping the community.</p>
            <p><strong>Contact and Support:</strong> Easily reach out to the administration through the website's
              contact form or provided contact details.
              Whether you have questions, feedback, or need assistance, we're here to help.</p>
            <p> <strong>Navigate City Initiatives:</strong> Learn about ongoing and upcoming city projects, development
              plans, and initiatives.
              Understand how these efforts contribute to the growth and improvement of Bulga City.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What is Bulga City Administration about?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">


            Bulga City Administration is the governing body responsible for the management and coordination of civic
            affairs within Bulga City.
            Our mission is to ensure efficient and effective administration, promote community development, and enhance
            the quality of life for residents.
            We oversee various public services, infrastructure projects,
            and community initiatives to foster a thriving and inclusive city environment. Through transparent
            governance and citizen engagement,
            Bulga City Administration is dedicated to shaping a vibrant and sustainable future for our community.

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How can I stay updated on new features and changes?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            We recommend checking our [Announcements] section regularly and subscribing to our newsletter for the latest
            updates. </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What should I do if I encounter technical issues on the website?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Please contact our support team through the [Contact] page, and we'll assist you in resolving any technical
            issues.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How can I register as a job seeker?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Click on the [Job Seeker Registration] button on the Menu, fill out the registration form, and follow the
            instructions to create your account. Make sure and check your Email confirmation!!! </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How do I navigate the website?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            You can navigate the website using the menu bar at the top, which includes sections such as Home, About,
            Services, Contact, Announcements, and Job Seeker Registration!!! </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> 