<section class="content container-fluid">
    <mat-card>
            <mat-card-content class="top-card">
                <button mat-raised-button>Zone Coordinator </button>
                <button mat-raised-button [routerLink]="['/dash/zoneCoordinators']">List </button>
            </mat-card-content>
        
    </mat-card>
    <mat-card>
        <mat-horizontal-stepper animationDuration="1000" [linear]="false">
            <form [formGroup]="registrationForm">
                <mat-step label="Basic Information">
                    <mat-card-content>
                        <div class="form-row">
                            <mat-form-field appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="enter first name" formControlName="firstName">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Middle Name</mat-label>
                                <input matInput placeholder="enter middleName" formControlName="middleName">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="enter last name" formControlName="lastName">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="enter User Name" formControlName="userName">
                                <div
                                *ngIf="registrationForm.get('userName').hasError('pattern') && registrationForm.get('userName').touched">
                                Please enter a valid email address.
                            </div>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="enter phone" formControlName="password">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="enter address"
                                    formControlName="address">

                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        

                            <mat-form-field appearance="fill">
                                <mat-label>Phone</mat-label>
                                <input type="tel" matInput placeholder="enter phone" formControlName="phone">
                                <div
                                *ngIf="registrationForm.get('phone').hasError('pattern') && registrationForm.get('phone').touched">
                                Please enter a valid phone number.
                            </div>

                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Department</mat-label>
                                <input matInput placeholder="enter department" formControlName="department">

                            </mat-form-field>
                            <span class="gender">
                                <mat-label><strong>Gender:</strong></mat-label>
                                <mat-radio-group formControlName="gender" matInput>
                                    <mat-radio-button value="Male">Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                </mat-radio-group>
                            </span>
                            
                        </div>
                        <button mat-raised-button color="primary"*ngIf="!update" (click)="RegisterJobSeeker()">Submit</button>
                        <button mat-raised-button color="primary" *ngIf="update" (click)="updateUser()">update</button>
                    </mat-card-content>
                    

                  
                </mat-step>

                
               
                
            </form>
        </mat-horizontal-stepper>
    </mat-card>


</section>