<section class="content container-fluid">
    <mat-card>
        <mat-card-content class="top-card">
            <button mat-raised-button>Goth(ጎጥ)</button>
            <button mat-raised-button [routerLink]="['/dash/addGoth']">New</button>
        </mat-card-content>
    </mat-card>

    <mat-card>

        <div class="row ">
            <div class="col-xl-3">
                <mat-card-content>
                    <button mat-raised-button (click)="openPDF()">Pdf </button>
                    <button mat-raised-button (click)="exportExcel()">Excel </button>
                    <button mat-raised-button (click)="printData('print')">Print </button>
                </mat-card-content>
            </div>
            <div class="col-xl-3">
                <mat-form-field appearance="fill">
                    <mat-label>Select Column</mat-label>
                    <mat-select (valueChange)="applyFilters($event)">
                        <mat-option value="gothName">Goth Name</mat-option>
                        <mat-option value="kebeleName">Kebele</mat-option>
                        <mat-option value="description">Description</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xl-6">
                <mat-form-field style="width: 99%;">
                    <mat-label>Filter</mat-label>
                    <input matInput [disabled]="!columnName" placeholder="Search" (keyup)="applyFilterByColumn($event)">
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="gothName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Goth </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.gothName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="kebeleName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Kebele </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.kebeleName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="setId(element.id)"><mat-icon>delete</mat-icon></button>|<button
                        (click)="setEditId(element.id)" mat-button color="primary"><mat-icon>edit</mat-icon></button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10, 50, 100]" aria-label="Select page" showFirstLastButtons>
        </mat-paginator>

        <div id="print" style="display: none;">
            <table mat-table [dataSource]="dataExport" matSort id="jobSeekerTable" style="width: 100%;">
                <caption style="text-align:center;caption-side:top" *ngIf="!filterValue">The Goth Information in The
                    Bulga City Administration </caption>
                <caption style="text-align:center;caption-side:top" *ngIf="filterValue">The Goth Information Filter By
                    {{filterColumn}} like {{filterValue}}</caption>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="gothName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Goth </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.gothName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kebeleName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Kebele </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.kebeleName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="width: 50%;"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
    </div>

</section>
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-triangle" style="font-size: 40px; color: red;"></i>
                    <h4 class="mt-2">Confirmation!</h4>
                    <p class="mt-3">Are You Sure?</p>
                    <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="deleteDept()"
                        data-bs-dismiss="modal">Continue</button>
                </div>
            </div>

        </div>
    </div>
</div>