<app-header></app-header>
<div class="d-flex justify-content-center align-items-center bg-light m-3">
  <div class="card p-3 shadow" style="width:100%">
       <nav>
      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <button class="nav-link active" id="establishment-tab" data-bs-toggle="tab" data-bs-target="#establishment"
          type="button" role="tab" aria-controls="establishment" aria-selected="true">Establishment</button>
        <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission" type="button"
          role="tab" aria-controls="mission" aria-selected="false">Mission, Vision Value</button>
        <button class="nav-link" id="organizationalStructure-tab" data-bs-toggle="tab"
          data-bs-target="#organizationalStructure" type="button" role="tab" aria-controls="organizationalStructure"
          aria-selected="false">Organizational Structure</button>
            </div>
    </nav>
    <div class="tab-content p-3 border" id="nav-tabContent">
      <div class="tab-pane fade active show" id="establishment" role="tabpanel" aria-labelledby="establishment-tab">

        <div class="row">
          <div class="col-md-3">
            <img src="assets/images/logo.jpg" alt="logo image" width="100%" height="300rem">
          </div>
          <div class="col-md-9">
            <p>Bulga is a city in central Ethiopia. Located in the Semien Shewa Zone
              of Amhara Region, about 65 kilometers north east of Addis Ababa
              on Ethiopian highway 2, the town has an elevation of 2,840 meters, which makes it
              the highest town of this size in Africa.</p>
            <p>On the Insert tab, the galleries include items that are designed to coordinate
              with the overall look of your document.
              You can use these galleries to insert tables, headers, footers, lists, cover pages,
              and other document building blocks</p>
            <p>Bulga is a city in central Ethiopia. Located in the Semien Shewa Zone
              of Amhara Region, about 65 kilometers north east of Addis Ababa
              on Ethiopian highway 2, the town has an elevation of 2,840 meters, which makes it
              the highest town of this size in Africa.</p>
            <p>On the Insert tab, the galleries include items that are designed to coordinate
              with the overall look of your document.
              You can use these galleries to insert tables, headers, footers, lists, cover pages,
              and other document building blocks</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="mission" role="tabpanel" aria-labelledby="mission-tab">
        <h3>Mission</h3>
        <h1><strong> ገበያ-መር የክህሎት ልማትን እውን በማድረግ፤ ምቹና አስተማማኝ የሥራ ዕድል በመፍጠር፤ሁለንተናዊ ብልጽግናን በማረጋገጥ፤ ዜጎችን ፍትሃዊ ተጠቃሚ ማድረግ.</strong></h1>
        <h3>Vision</h3>
        <h1> <strong> ብቁ  የሰው ሀብት፤ ምቹና አስተማማኝ የሥራ ዕድል የሞላበት ከተማ አስተዳደር   ማየት</strong></h1>
        <h3>Values</h3>
        <ul>
          <li><strong>Love</strong></li>
        </ul>
        <p>You can also format text directly by using the other controls on the Home tab.
          Most controls offer a choice of using the look from the current theme or using a
          format that you specify directly.</p>
        <ul>
          <li><strong>Team Work</strong></li>
        </ul>
        <p>You can also format text directly by using the other controls on the Home tab.
          Most controls offer a choice of using the look from the current theme or using a
          format that you specify directly.</p>
        <ul>
          <li><strong>Transparency</strong></li>
        </ul>
        <p>You can also format text directly by using the other controls on the Home tab.
          Most controls offer a choice of using the look from the current theme or using a
          format that you specify directly.</p>
        <ul>
          <li><strong>Equity</strong></li>
        </ul>
        <p>You can also format text directly by using the other controls on the Home tab.
          Most controls offer a choice of using the look from the current theme or using a
          format that you specify directly.</p>

      </div>
      <div class="tab-pane fade" id="organizationalStructure" role="tabpanel"
        aria-labelledby="organizationalStructure-tab">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/images/structure.png" alt="logo image" width="100%" height="300rem">
          </div>
          <div class="col-md-9">
            <p>Bulga is a city in central Ethiopia. Located in the Semien Shewa Zone
              of Amhara Region, about 65 kilometers north east of Addis Ababa
              on Ethiopian highway 2, the town has an elevation of 2,840 meters, which makes it
              the highest town of this size in Africa.</p>
            <p>On the Insert tab, the galleries include items that are designed to coordinate
              with the overall look of your document.
              You can use these galleries to insert tables, headers, footers, lists, cover pages,
              and other document building blocks</p>
            <p>Bulga is a city in central Ethiopia. Located in the Semien Shewa Zone
              of Amhara Region, about 65 kilometers north east of Addis Ababa
              on Ethiopian highway 2, the town has an elevation of 2,840 meters, which makes it
              the highest town of this size in Africa.</p>
            <p>On the Insert tab, the galleries include items that are designed to coordinate
              with the overall look of your document.
              You can use these galleries to insert tables, headers, footers, lists, cover pages,
              and other document building blocks</p>
          </div>
        </div>
      </div>


      
    </div>
  </div>
</div>

  <app-footer></app-footer>